@import "tailwindcss";

:root {
  --background: #0f1117;
  --foreground: #0f1117;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --background: #0f1117;
    --foreground: #0f1117;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
}

.binary-number-green {
  font-family: Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 8px rgba(102, 255, 0, 0.99);
}

.binary-number-red {
  font-family: Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.99);
}

.binary-title {
  font-family: Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 8px rgba(0, 255, 213, 0.99);
}

.binary-text {
  font-family: Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 8px rgba(47, 0, 255, 0.99);
}

.message-box {
  /* font-family: Geneva, Verdana, sans-serif; */
  /* color: white; */
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  background-color: #1e1e1e;
  border-radius: 10px;
  /* border: 1px solid #4b4f53; */
  /* padding: 3rem; */
  width: 80%;       /* 80% del contenedor padre */
  max-width: 600px; /* no crecer demasiado en pantallas grandes */
  height: auto; 
  /* box-shadow: 0 0 8px rgba(75, 79, 83, 0.99); */
}

.container-tree{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;

  /* background-color: #1e1e1e; */
}

@media(max-width: 430px) {
  .message-box {
    width: 300px;
  }
  .container-tree{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: auto;
    height: auto;
  }
}

@media(min-width: 768px) {
  .message-box {
    width: 80%;
  }

  .container-tree{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    width: auto;
    height: auto;
  }
}

@media(min-width: 1024px) {
  .message-box {
    width: 100%;
  }

  .container-tree{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    width: auto;
    height: auto;
  }
}