@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
.binary-number-green {
  font-family: Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 8px rgba(102, 255, 0, 0.99);
}

.binary-number-red {
  font-family: Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.99);
}

.binary-title {
  font-family: Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 8px rgba(0, 255, 213, 0.99);
}

.binary-text {
  font-family: Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 8px rgba(47, 0, 255, 0.99);
}

.message-box {
  /* font-family: Geneva, Verdana, sans-serif; */
  /* color: white; */
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  background-color: #1e1e1e;
  border-radius: 10px;
  /* border: 1px solid #4b4f53; */
  /* padding: 3rem; */
  width: 600px;
  /* box-shadow: 0 0 8px rgba(75, 79, 83, 0.99); */
}